.screened-container {
    height: 100vh;
    background-color: #695533;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .sdh {
    margin: 10px auto 0px;
    color: #FFF0D4;
    text-align: center;
    width: fit-content;
    
  }
  
  .scroll-wrapper {
    width: 95%;
    overflow: hidden;
    position: relative;
    margin: 50px auto 0px;
    mask-image: linear-gradient(to right, 
    rgba(0, 0, 0, 0), 
    rgba(0, 0, 0, 1) 10%, 
    rgba(0, 0, 0, 1) 90%, 
    rgba(0, 0, 0, 0));
    
  }
  
  .scroll-track {
    display: flex;
    gap: 40px;
    animation: scroll 35s linear infinite;
    width: fit-content;

  }
  
  .scroll-item {
    flex: 0 0 auto;
    width: 300px;
    height: 400px;
  }
  
  .scroll-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  .sdh:hover {
    text-shadow: 0 0 6px white;
    cursor: pointer; 
  }
  